.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    box-sizing: border-box;
    padding: 0 30px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(26,26,26,.1);
}
.top-bar .inner{
    width: 1000px;
    height: 52px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.top-bar .inner .nav-box{
    padding: 0 15px;
}
.top-bar .inner a{
    position: relative;
    color: #8590a6;
    font-size: 15px;
    padding: 14px 0;
}
.top-bar .inner a.active{
    color: #444;
    font-weight: 600;
}
.top-bar .inner a.active::after{
    position: absolute;
    right: 0;
    bottom: -1px;
    left: 0;
    height: 3px;
    background: #0084ff;
    content: "";
}
.top-bar .logo{
    width: 80px;
    height: auto;
}

.content{
    height: calc(100vh - 50px);
}